.container-fluid{
    background-color: #35604A;
}
.text-frnt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* (center)Centraliza na horizontal */
   align-items: center; /* Alinha no topo verticalmente */
    padding-top: 2vh;       /* Empurra o texto "um pouco abaixo" (20% da tela) */
    height: 10vh;          /* Define a altura total da página */
}
.img-p{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin: 10px auto;
}
.nav-item .nav-link {
  color: #fbf8f8;
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
  color: #35604A;
}
.card{
  width: 350px;
  height: 350px;
  background-color: #3d4d44;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-left: 100px;
}
.titulo-card{
  color: #fffefe;
}
.card-texto{
  color: aliceblue;
}

.foto{
  width: 300px;
  border-radius: 4px;
  display: block;
}

.texto-card1{
  display:block;
  margin-bottom: 12px;
  text-decoration: none;
  color: rgb(0, 136, 255);
}

